.faq-element {
  div {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
  }

  h1 {
    font-size: 1.5rem;
  }

  background-color: aliceblue;
  color: black;
  p{
    transition: 1s;
    height: 0px;
    overflow: hidden;
    padding: 0;
  }

  p.open{
    height: 200px;
  }

}

.spinning {

  animation: spin 5s linear;

}



@keyframes spin {

  from { transform: rotate(0deg); }

  to { transform: rotate(360deg); }

}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  div{
    width: 80vw;
    aspect-ratio: 16/9;
    background-color: white;

  }
}